@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300&display=swap');
.loghead
{
    
    color: rgb(12, 71, 12);
    top: 5px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    

}
.formClass{
    position: absolute;
    top: 10vh;
    background-color:white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

.bg{
    
    background: url(../Pictures/todo1.png) no-repeat ;
    width: 100%;
    height: 80vh;
    
    
    
}


.myText{
    text-align: center;
}

